.contact {
  background-color: var(--primaryColor);
  font-family: var(--defaultFont);
  padding: 2rem;
}

form {
  background-color: var(--mainGray);
  height: 440px;
  width: 600px;
  border-radius: 8px;
  box-shadow: var(--darkShadow);
  margin: 5vh auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: var(--mainTransition);
  border-bottom: 2px solid var(--primaryColor);
}
input:focus,
textarea:focus {
  border-bottom: 2px solid var(--darkGray);
}
label {
  font-family: var(--titleFontFamily);
}

label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  color: var(--darkGray);
}
button {
  float: right;
  padding: 8px 12px;
  margin: 1.5rem 0 0;
  border: 2px solid var(--primaryColor);
  border-radius: 8px;
  background: 0;
  color: var(--primaryColor);
  font-family: var(--titleFontFamily);
  font-weight: var(--titleFontWeight);
  cursor: pointer;
  transition: var(--mainTransition);
}
button:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
