.hero {
  top: var(--navbarHeight);
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.call-to-action {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.call-to-action h1 {
  font-size: var(--ms-large-4);
  font-weight: 200;
  text-align: center;
}

.subtitle {
  display: block;
}

.hero-image-wrapper svg {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .call-to-action h1 {
    font-size: var(--ms-small-4);
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 0;
  }
}
