.navbar {
  background-color: var(--primaryBackgroundColor);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.logo {
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  font-weight: 200;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: 16rem;
}

.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--titleColor);
  transition: var(--mainTransition);
  font-family: var(--titleFontFamily);
  font-weight: var(--titleFontWeight);
  font-size: var(--ms-large-1);
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  color: var(--primaryColor);
  text-decoration-thickness: 5rem;
  text-decoration: underline;
}

/* .underline { */
/*   width: 50%; */
/*   border-bottom: 5px solid var(--primaryColor); */
/* } */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #252525;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .toggle-button div span {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
}
