html {
  scroll-padding-top: 82px;
}

.navbar {
  background-color: var(--secondaryBackgroundColor);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.logo {
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  font-weight: 200;
  font-size: xx-large;
}

.logo a {
  color: inherit;
  text-decoration: inherit;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: var(--navbarHeight);
}

.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--titleColor);
  transition: var(--mainTransition);
  font-family: var(--titleFontFamily);
  font-weight: var(--titleFontWeight);
  font-size: var(--ms-large-1);
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primaryColor);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 15%;
  background-color: var(--primaryColor);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--primaryBackgroundColor);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
    flex-direction: row;
  }
}
