.projects {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}

article {
  background-color: var(--primaryBackgroundColor);
}

.project p {
  color: var(--darkGray);
}

.project > .technology-title {
  border-top: 2px solid white;
}

.technology {
  background-color: var(--primaryColor);
}
