.project {
  background-color: var(--secondaryBackgroundColor);
  box-shadow: var(--lightShadow);
  text-align: center;
  margin: 2rem 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-decoration: none;
  font-weight: 400;
}

.description {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description > p {
  color: var(--offWhite);
  flex-grow: 2;
  padding: 1rem;
}

.github-icon > svg {
  color: var(--offWhite);
  height: 2.5rem;
  width: 2.5rem;
  margin: 2rem auto 0;
}

.technology-wrapper > .technology-title {
  border-top: 1px solid var(--darkGray);
  border-bottom: 1px solid var(--darkGray);
  color: var(--offWhite);
  background-color: hsl(255, 0%, 30%);
}

.technology-badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: hsl(255, 0%, 22%);
  border-radius: 0 0 8px 8px;
}

.technology-badges > .technology {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  margin: 4px;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 0.8rem;
  color: var(--primaryColor);
}
